@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); /* font-family: "VT323", monospace; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap'); /* font-family: 'IBM Plex Mono', monospace; */


:root {
    /* === BSOD === */
    --bsod-blue: #0000AA
    --bsod-white: white;
    --bsod-grey: #C0C0C0
    --bsod-font-size: 41px;
    --bsod-letter-spacing: 0.5px;

    /* === FONTS === */
    --main-font: "VT323", monospace;
    --eldritch-font: 'IBM Plex Mono', monospace !important;

    /* === COSMIC TERMINAL === */
    --eldritch-orange: #ffa500;
    --eldritch-black: #201c1c;
    --eldritch-green: #13ad7a;

    /* === PIXEL GLITCH COLORS === */
    --pixel-blue: blue;
    --pixel-red: red;
    --pixel-green: limegreen;
}

/* === WINDOWS 95 THEME === */
.theme-win95 {
    --win95-bg: #c0c0c0;
    --win95-fg: #000000;
    --win95-accent: #000080;
    --win95-light: #ffffff;
    --win95-dark: #808080;
    --win95-darker: #404040;
    --win95-highlight: #dfdfdf;

    --main-font: "VT323", monospace;
    --theme-bg-image: url('../../assets/windows_bg.png');

    --theme-bg-color: #000000;
    --startbar-bg: black;
    --startbar-shadow: #808080;
  }

/* === COSMIC HORROR THEME === */
.theme-cosmic {
    --win95-bg: #201c1c;
    --win95-fg: #ffa500;
    --win95-accent: #13ad7a;
    --win95-light: #ffa500;
    --win95-dark: #201c1c;
    --win95-darker: #201c1c;
    --win95-highlight: #13ad7a;
  
    --main-font: "VT323", monospace;
    --theme-bg-image: url('../../assets/vgod.png');

    --theme-bg-color: #201c1c;
    --startbar-bg: #1a0e1a;
    --startbar-shadow: #13ad7a;
  }