
/* === SYSTEM INHERIT === */
body {
    background: var(--win95-bg);
	font-family: var(--main-font);
	padding-bottom: 1.2% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* === CAROUSEL WRAPPER === */
.carousel-container {
    color: var(--win95-fg);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
    
}

/* === IMAGE CAROUSEL === */
.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    margin: 1rem;
}

.carousel .brutal-button {
    color: var(--win95-fg);
    justify-content: center;
    font-size: 3rem;
    min-width: 4rem;
    min-height: 2rem;
    width: auto;
    height: auto;
    border: 2px outset var(--win95-light);      /* light border */
    background-color: var(--win95-bg);          /* themed background */
    box-shadow: 2px 2px 0 var(--win95-dark);    /* 3D shadow */
    color: var(--win95-fg);                   
}

#image-container {
    color: var(--win95-fg);
	width: 900px;
	height: 700px;
	min-width: 900px;
	min-height: 700px;
	max-width: 900px;
	max-height: 700px;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	overflow: hidden;
	flex-shrink: 0;
	flex-grow: 0;
    border: 2px outset var(--win95-light);      /* light outer border */
	box-shadow: 2px 2px 0 var(--win95-dark);    /* 3D shadow */
	background-color: var(--win95-bg);          /* window background */
    overflow: hidden;
}

#carouselImage {
    color: var(--win95-fg);
	width: 97%;
	height: 97%;
	object-fit: contain;
	pointer-events: none;
	user-select: none;              
}

#imageTitle {
    color: var(--win95-fg);
	font-size: 2rem;
	margin: 0.5rem 0 0;
	font-family: var(--main-font);
}

#imageDescription {
    margin-top: 1rem;
    color: var(--win95-fg);
    max-width: unset; /* allow overflow */
    font-size: 4rem;
    width: 100%;
	text-align: center;
	font-family: var(--main-font);
    overflow: visible;
    word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

/* === VOTE CONTROLS === */
.voting {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
}

.voting button {
	width: auto;
    min-width: 3rem;
	height: auto;
    min-height: 3rem;
	font-family: var(--main-font);
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 1.5rem;
    border: 2px outset var(--win95-light);      /* light border */
    background-color: var(--win95-bg);          /* themed background */
    box-shadow: 2px 2px 0 var(--win95-dark);    /* 3D shadow */
    color: var(--win95-fg);                  
}

.voting button span {
	margin-left: 0.5rem;
}