/* font-family: "VT323", monospace; */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); 

body {
    background-color: black;
}

#info {
    left: 2%;
    top: 4%;
    position: fixed;
    color: white;
    font-family: monospace;
    font-size: 15px;
    white-space: pre;
}

.display {
    border: 3px solid white;
    width: 80%;
    height: 80%;
    position: absolute;
    left: 15%;
    top: 12%;
}

#goose {
    position: absolute;
    transform-origin: center center;
}

#lives {
    position: fixed;
    top: 10px;
    right: 10px;
}

#lives svg {
    width: 32px;
    height: 32px;
}

#gameOverMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    font-family: "VT323", monospace;
    color: white;
    display: none;
    z-index: 1;
    pointer-events: none;
}