@import '../home/btn-base.css';

/* === WIN95 APP WINDOWS === */
.win95-window {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 80px;
    left: 100px;

    background-color: var(--win95-bg);
    color: var(--win95-fg);
    border: 2px solid var(--win95-dark);
    box-shadow: 2px 2px 0 var(--win95-dark), -1px -1px 0 var(--win95-light);
    font-family: var(--main-font);
    z-index: 2000;
}

.win95-window-titlebar {
    background-color: var(--eldritch-black);
    color: var(--eldritch-orange);
    font-size: 28px;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    user-select: none;
}

.win95-window-controls {
    display: flex;
    gap: 4px;
}

.win95-window-controls button .brutal-button {
    background: none;
    border: none;
    color: var(--win95-fg);
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    padding: 0 6px;
}

.win95-window-close .brutal-button {
    background: none;
    border: none;
    color: var(--win95-fg);
    font-weight: bold;
    cursor: pointer;
}

.win95-window-content {
    padding: 10px;
    height: calc(100% - 30px);
    background-color: var(--win95-bg);
    overflow: auto;
}

/* === WINDOW RESIZER CORNER === */
.win95-window-resizer {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    background: repeating-linear-gradient(45deg, var(--win95-dark), var(--win95-dark) 2px, var(--win95-light) 2px, var(--win95-light) 4px);
}
