
.desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;        /* center horizontally */
    justify-content: center;    /* center vertically */

    /* spacing inside the button */
    padding: 6px;
    gap: 6px;
    margin: 5%;

    /* icon size */
    width: 80px;
    height: 80px;

    /* interaction */
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: filter 0.2s ease, transform 0.2s ease;
    box-shadow: none !important;
}

.desktop-icon img {
    width: 48px;
    height: 48px;
    transition: filter 0.2s ease;
}

.icon-label {
    font-size: 26px;
    color: var(--win95-fg);     
    font-family: var(--main-font);
    letter-spacing: 0.5px;
    text-shadow: 1px 1px var(--startbar-shadow);
    text-align: center;
    white-space: nowrap;

}

/* Goose Game */
#goose-icon {
    position: absolute;
    top: 60px;
    left: 60px;
}

/* Vibes / TV Radio */
#vibes-icon {
    position: absolute;
    top: 60px;
    left: 160px;
}

/* Carousel / Photos */
#carousel-icon {
    position: absolute;
    top: 60px;
    left: 260px;
}

/* Theme Switcher */
#themes-icon {
    position: absolute;
    top: 60px;
    left: 360px;
}
