@import './bsod.css';
@import './cosmic-terminal.css';
@import './start-menu.css';
@import '../windows/win95.css';


/* === ROOT LAYOUT === */
body {
    background-color: var(--theme-bg-color);
    padding-bottom: 1.2% !important;
    height: 100vh;
}

/* === MAIN LANDING SECTION === */
#landing {
    position: relative;
    display: none;

    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;

    background-image: var(--theme-bg-image) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* === START BAR === */
.start-bar {
    border-radius: 4px;
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 50px;

    border: 2px outset var(--win95-light);      /* light border */
    background-color: var(--win95-bg);          /* themed background */
    box-shadow: 2px 2px 0 var(--win95-dark);    /* 3D shadow */
    color: var(--win95-fg);                     /* themed text color */

    font-family: var(--main-font);
    z-index: 1030;
    padding: 0.5rem;
}

.start-bar-content {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding-left: 8px;
	gap: 10px;
	overflow: visible;
}

.taskbar-apps {
	display: flex;
	align-items: center;
	height: 100%;
    gap: 6px;
}

/* === START BUTTON === */
.start-button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;

    left: 12px;
    height: 2rem;
    min-width: 4.5rem;
    width: auto;

    color: var(--win95-fg);
	background-color: var(--win95-bg);

	border: 2px outset var(--win95-light);
	box-shadow: 2px 2px 0 var(--win95-dark); /* match start button */
    margin-right: 2.5rem;
}

/* === TASKBAR BUTTONS (for minimized windows) === */
.taskbar-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;

	height: 30px;
	min-width: 120px;
	max-width: 180px;
    width: auto;

	margin-left: 6px;
	padding: 0 10px;

	font-family: var(--main-font);
	font-size: 22px;
	color: var(--win95-fg);
	background-color: var(--win95-bg);

	border: 2px outset var(--win95-light);
	box-shadow: 2px 2px 0 var(--win95-dark); /* match start button */
	cursor: pointer;

	position: relative;
}

#transition-blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    z-index: 99999; /* above everything */
    transition: opacity .4s linear;
}