@import './bsod.css';
@import './cosmic-terminal.css';
@import './start-menu.css';
@import '../windows/win95.css';


/* === ROOT LAYOUT === */
body {
    background-color: var(--theme-bg-color);
    padding-bottom: 1.2% !important;
    height: 100vh;
}

/* === MAIN LANDING SECTION === */
#landing {
    position: relative;
    display: none;

    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;

    background-image: var(--theme-bg-image) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* === START BAR === */
.start-bar {
    border-radius: 4px;
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 50px;

    border: 2px outset var(--win95-light);      /* light border */
    background-color: var(--win95-bg);          /* themed background */
    box-shadow: 2px 2px 0 var(--win95-dark);    /* 3D shadow */
    color: var(--win95-fg);                     /* themed text color */

    font-family: var(--main-font);
    z-index: 1030;
    padding: 0.5rem;
}

.start-bar-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}

/* === START BUTTON === */
.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 12px;
    font-size: 22px;
    height: 2rem;
    min-width: 4.25rem;
    width: auto;

    box-shadow: 2px 2px 0 var(--win95-dark);
}

#transition-blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    z-index: 99999; /* above everything */
    transition: opacity .4s linear;
}